#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.pady, .des{
  font-weight: 400;
  color: azure;
}
.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
